.card {
  /* background-color: antiquewhite; */
  width: 700px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.pick1 {
  color: rgb(251, 251, 251);
  background-color: rgb(170, 170, 170);
  padding: 100px 30px 100px 30px;
  border-radius: 10px;
}
.pick2 {
  color: rgb(251, 251, 251);
  background-color: rgb(255, 179, 102);
  padding: 100px 30px 100px 30px;
  border-radius: 10px;
}
.pick3 {
  color: rgb(251, 251, 251);
  background-color: rgb(68, 169, 241);
  padding: 100px 30px 100px 30px;
  border-radius: 10px;
}
.pick4 {
  color: rgb(251, 251, 251);
  background-color: rgb(221, 128, 255);
  padding: 100px 30px 100px 30px;
  border-radius: 10px;
}
