.short {
  margin-top: 20px;
  background-color: #a4cb6d; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 40px 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.short2 {
  margin-top: 20px;
  background-color: #ef84cd; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 40px 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.intrest {
  width: 200px;
  margin: auto;
  margin-top: 20%;
  display: flex;
  gap: 20px;
  /* text-align: center; */
}

.intrest2 {
  width: 200px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  /* border: 1px solid #a4cb6d; */
  padding: 40px;
  background-color: rgb(244, 244, 202);
  border-radius: 10px;
}
.look {
  width: 200px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
